*{
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Volkhov', serif;
}

p{
  font-family: 'Nunito Sans', sans-serif;
}

.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:  "header header header header"
                        "destacado destacado destacado destacado"
                        "ultimos ultimos ultimos ultimos"
                        "ultimos1 ultimos2 ultimos3 ultimos4"
                        "delmes delmes delmes delmes"
                        "delmes1 delmes1 delmes2 delmes2"
                        "footer footer footer footer";
}

/* Make the image responsive */
.contenedor img {
  width: 100%;
  height: auto;
}

.contenedor header {
  grid-area: header;
}

.contenedor .destacado{
  grid-area: destacado;
  /* Container needed to position the button.*/
  position: relative;
  width: 100%;
}

/* Centered text */
.contenedor .centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}

/* Style the button and place it in the middle of the container/image */
.contenedor .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.contenedor .btn:hover {
  background-color: black;
}

.contenedor .ultimos {
  grid-area: ultimos;
  padding: 3%;
}

.contenedor .ultimos1 {
  grid-area: ultimos1;
}

.contenedor .ultimos2 {
  grid-area: ultimos2;
}

.contenedor .ultimos3 {
  grid-area: ultimos3;
}

.contenedor .ultimos4 {
  grid-area: ultimos4;
}

.contenedor .delmes {
  grid-area: delmes;
  padding: 3%;
}

.contenedor .delmes1 {
  grid-area: delmes1;
  text-align:center;
  margin:10% auto;
  display:flex;
  align-items: center
}

.contenedor .delmes1 img{
  width: 70%;
  height: auto;
}

.contenedor .delmes2 {
  grid-area: delmes2;
  margin:10%;
  text-align:justify;
}

.contenedor .footer{
  grid-area: footer;
  padding: 3%;
  font-size: 14px;
  text-align: center;
  background-color: rgb(80, 80, 80);
  color: #fff;
}

.autor {
  color: red;
  font-size: 16px;
  padding-bottom: 5%;
}

.titulo {
  font-size: 26px;
  padding-bottom: 5%;
}

@media screen and (max-width: 830px){
  .contenedor {
    grid-template-areas:"header header header header"
                        "destacado destacado destacado destacado"
                        "ultimos ultimos ultimos ultimos"
                        "ultimos1 ultimos1 ultimos2 ultimos2"
                        "ultimos3 ultimos3 ultimos4 ultimos4"
                        "delmes delmes delmes delmes"
                        "delmes1 delmes1 delmes2 delmes2"
                        "footer footer footer footer";
  }

}

@media screen and (max-width: 630px){
  /* Centered text */
  .contenedor .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    font-weight: bold;
  }
  /* Style the button and place it in the middle of the container/image */
.contenedor .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  }
}

@media screen and (max-width: 430px){
  .contenedor {
    grid-template-areas:"header header header header"
                        "destacado destacado destacado destacado"
                        "ultimos ultimos ultimos ultimos"
                        "ultimos1 ultimos1 ultimos1 ultimos1"
                        "ultimos2 ultimos2 ultimos2 ultimos2"
                        "ultimos3 ultimos3 ultimos3 ultimos3"
                        "ultimos4 ultimos4 ultimos4 ultimos4"
                        "delmes delmes delmes delmes"
                        "delmes1 delmes1 delmes1 delmes1"
                        "delmes2 delmes2 delmes2 delmes2"
                        "footer footer footer footer";
  }
  /* Centered text */
  .contenedor .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
  }
  /* Style the button and place it in the middle of the container/image */
.contenedor .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 8px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  }
}

/* CSS menu */

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: black;
}

/*.logo {
  justify-content: space-around;
}*/

.nav {
  margin-right: 15%;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlink {  
  list-style: none;
  margin: 0.50em;
  letter-spacing: 2px;
}

.navlink a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  font-size: 3em;
  display: none;
}

@media screen and (max-width: 830px) {
  .burger {
      display: block;
  }
  .nav {
      z-index:1;
      margin-right: 5%;
      background: white;
      position: absolute;
      right: -100%;
      top: 145px;
      width: 40%;
      height: calc(100% - 70px);
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      transition: all 400ms;
  }
  .navlink {
      text-align: center;
  }

  .nav-active {
      right: 0;
  }
}

